@import '/public/assets/styles/guide-style.scss';

.tabs {
    display: flex;
    padding: 10px 0;
    Tab {
        cursor: pointer;
    }
    span {
        border-left: 1px solid $color-3;
        margin: 0 11px;
    }
}